/*Abaixa o container para nao afetar a tabela*/
.container {
	max-width: 90%;
}
.abaixar-container {
	margin-top: 20px;
	margin-bottom: 20px;
}
.jumbotron {
	padding: 1rem 1rem !important;
}
.imagem {
	width: 32px !important;
	margin: 4px;
}
